<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav-bar}"></th:block>
    </header>
    <main class="mt-3">
        <div class="bg-image-home text-center">            <span style="visibility: hidden">....</span>
            <div class="text-center mt-5">
                <img th:height="200" th:width="200" th:src="${watch.picUrl}">
            </div>
            <div class="row">
                <div class="col col-md-12 mt-3 text-white">
                    <h1 th:utext="'Manufacturer: ' + ${watch.manufacturer}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 mt-3 text-white">
                    <h4 th:utext="'Reference Number: ' + ${watch.refNumber}"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 mt-3 text-white">
                    <h4 th:utext="'Year: ' + ${watch.year}"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 mt-3 text-white">
                    <h4 th:utext="'Price: ' + ${watch.price} +'$'"></h4>
                </div>
            </div>
            <p class="row">
            <div class="col col-md-12 mt-3 text-white">
                <h4 th:utext="'Description: ' + ${watch.description}"></h4>
            </div>
            </p>
            <div class="row">
                <div class="col col-md-12 mt-3 text-white">
                    <h4 th:utext="'Contact Number: ' + ${watch.contactNumber}"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 mt-3 text-white">
                    <h4 th:utext="'Gender: ' + ${watch.gender}"></h4>
                </div>
            </div>
            <div>
                <th:block th:if="${enableEdit}">
                    <form th:action="@{/watches/edit/{id}(id=${watch.id})}" th:method="get">
                        <button type="submit" class="btn btn-success">Edit Watch</button>
                    </form>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:action="@{/watches/delete/{id}(id=${watch.id})}" th:method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </th:block>

            </div>



            <span style="visibility: hidden">....</span>
        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>