<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"/>
</header>
<main class="mt-3">
    <div class="container">
        <div class="pt-5 mt-5">
            <h2 class="text-center text-dark">All Users</h2>
            <hr class="style13 w-100">
            <table style="text-shadow: none" class="table table-hover w-100 mx-auto bg-light">
                <thead>
                <tr class="row mx-auto">
                    <th class="col-md-1 text-center text-dark font-weight-bold">#</th>
                    <th class="col-md-2 text-center text-dark font-weight-bold">Username</th>
                    <th class="col-md-2 text-center text-dark font-weight-bold">Email</th>
                    <th class="col-md-3 text-center text-dark font-weight-bold">Roles</th>
                    <th class="col-md-3 text-center text-dark font-weight-bold">Actions</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user, iter : ${users}" th:object="${user}">
                    <tr class="row mx-auto">
                        <th class="col-md-1 text-center text-dark font-weight-bold" th:text="${iter.index + 1}"></th>
                        <td class="col-md-2 text-center text-dark" th:text="*{username}"></td>
                        <td class="col-md-2 text-center text-dark" th:text="*{email}"></td>
                        <td class="col-md-3 text-center text-dark"
                            th:text="*{#strings.replace(#strings.listJoin(authorities, ', '), 'ROLE_', '')}"></td>
                        <td class="col-md-3 text-center text-dark">
                            <div class="row justify-content-center">
                                <th:block th:if="*{#authorization.expression('hasRole(''ROLE_ADMIN'')') and
                                !#authorization.expression('hasRole(''ROLE_ROOT'')')}">
                                    <th:block th:if="*{#lists.contains(authorities, 'ROLE_CUSTOMER')
                                    && !#lists.contains(authorities, 'ROLE_OPERATOR')
                                    && !#lists.contains(authorities, 'ROLE_ADMIN')}">
                                        <form class="mx-1" th:method="post"
                                              th:action="@{/users/set-operator/{id}(id=*{id})}">
                                            <input name="_csrf" type="hidden"
                                                   value="80417983-fe8b-45c7-963e-31f6915a1563">
                                            <button class="btn btn-primary">OPERATOR</button>
                                        </form>
                                        <form class="mx-1" th:method="post"
                                              th:action="@{/users/set-admin/{id}(id=*{id})}">
                                            <input name="_csrf" type="hidden"
                                                   value="80417983-fe8b-45c7-963e-31f6915a1564">
                                            <button class="btn btn-primary">ADMIN</button>
                                        </form>
                                    </th:block>

                                    <th:block th:if="*{#lists.contains(authorities, 'ROLE_OPERATOR')
                                    && !#lists.contains(authorities, 'ROLE_ADMIN')}">
                                        <form class="mx-1" th:method="post"
                                              th:action="@{/users/set-admin/{id}(id=*{id})}">
                                            <input name="_csrf" type="hidden"
                                                   value="80417983-fe8b-45c7-963e-31f6915a1564">
                                            <button class="btn btn-primary">ADMIN</button>
                                        </form>
                                    </th:block>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ROOT')">
                                    <div>
                                        <form th:action="@{/users/set-admin/{id}(id=${user.id})}" th:method="post">
                                            <button type="submit" class="btn btn-danger">Make Admin</button>
                                        </form>
                                    </div>
                                </th:block>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <hr class="style13">
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>