<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>

    <div class="bg-image-profile text-center" th:object="${model}">

        <div class="container">
            <div id="user-profile-img" style="text-align: center;">
                <img src="https://p7.hiclipart.com/preview/312/283/679/avatar-computer-icons-user-profile-business-user-avatar.jpg" width="230" height="220">
            </div>
            <div class="row offset-sm-4" style="text-align: center" >
                <h4 class="text-white">Username: <span class="text-white" th:text="*{username}"></span>
                </h4>
            </div>
            <div class="row offset-sm-4">
                <h4 class="text-white">Email: <span class="text-white" th:text="*{email}"></span></h4>
            </div>
            <hr class="hr-2 bg-dark">
            <div class="button-holder">
                <a th:href="@{/users/edit}" class="btn btn-success">Edit Profile</a>
            </div>
        </div>
    </div>
</main>
<div class="fixed-bottom">
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>