.bg-hero {
    background: #182b40;
    color: white;
}



.text-hero {
    color: white;
}

.text-menu{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.hr-2 {
    height: 2px;
}

textarea {
    resize: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;}


:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

.nav-custom {
    color: rgba(255, 255, 255, .5) !important;
}

.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
    position: relative;
    z-index: 2;
}

.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ababab;
    opacity: 0.5;
    z-index: 1;
}